/** modelo del header general **/
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ff6f2c;
}

header {
  position: relative;
  border-bottom: 1px solid #ddd;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: relative;
  background-color: white;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

button img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.logoHeader {
  height: 30px;
}

.userIMG img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}



.centroAyuda {

  text-align: center;
  font-size: 3rem;
  color: white;

}


.tablaDeContenido{

  display: grid;
  grid-template-rows: (7, 1fr );
  padding: 3rem 3rem;
  width: 40%;
  margin-left: 33.5rem;
  gap: 2rem ;

  background-color: white;
  border-radius: 3rem;
  border-color: black;
  border: 1px solid black;
 
  text-align: center;
  
  

}

