body{
     background-color: black;
    background-image: url('../Images/fondo.png');
    background-size: cover;          
    background-repeat: no-repeat;
    background-position: center;     
    background-attachment: fixed;    
    min-height: 100vh;                
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100vh;
}

img{
    width: 10rem;
    max-width: 90vw;
    height: auto;
    animation-name: loadingLogo;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes loadingLogo{
    to{
        opacity: 0;
    }
}